header {
    width: 100%;
    height: 138px;
    background-color: var(--background-tertiary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 38px 48px;
}

.logo{
    display: inline-block;
    width: 68px;
    height: 64px;
    margin: 37px 0 0 48px;
}

nav{
    display: none;
}

.navigation-menu{
    margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav{
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--background-tertiary-color);
}

.list-links{
    list-style: none;
}

.list-links li{
    margin: 16px;
}

.list-links li a{
    color: var(--text-secondary-color);
}