header {
    width: 100%;
    height: 138px;
    background-color: var(--background-tertiary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 38px 48px;
}

.logo{
    display: inline-block;
    width: 68px;
    height: 64px;
    margin: 37px 0 0 48px;
}

.logo-mobile{
    display: block;
}

.logo-desktop{
    display: none;
}

nav{
    display: none;
}

.navigation-menu{
    margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav{
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--background-tertiary-color);
}

.list-links{
    list-style: none;
}

.list-links li{
    margin: 16px;
}

.list-links li a{
    color: var(--text-secondary-color);
}

@media screen and (min-width: 768px) {
    .navigation-menu{
        margin-top: 0;
    }

    .navigation-menu label{
        display: none;
    }

    .navigation-menu nav{
        display: block;
    }

    .navigation-menu ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .navigation-menu ul li{
        margin: 0;
    }
}

@media screen and (min-width: 1024px){
    header{
        padding: 38px 120px;
    }
   
    .img-desktop{
        display: block;
    }
    .img-mobile{
        display: none;
    }
    .logo{
        width: 260px;
        height: 64px;
    }
    .navigation-menu a:hover{
        color: var(--primary-color);
    }
}

@media screen and (min-width: 1920px){
    header{
        padding: 38px 160px;
    }
}